
.footer{
    color: #abb0b2;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height : 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

